<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogGraphQl\Model\ProductInterfaceTypeResolverComposite">
        <arguments>
            <argument name="productTypeNameResolvers" xsi:type="array">
                <item name="giftcard_product_type_resolver" xsi:type="object">Mageplaza\GiftCardGraphQl\Model\GiftCardProductTypeResolver</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\GraphQl\Schema\Type\Entity\DefaultMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="mpgiftcard" xsi:type="string">MpGiftCardProduct</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Cart\BuyRequest\BuyRequestBuilder">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="giftcard_options" xsi:type="object">Mageplaza\GiftCardGraphQl\Model\Cart\BuyRequest\GiftCardOptionsDataProvider</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\CatalogGraphQl\Model\Resolver\Product\Price\ProviderPool">-->
<!--        <arguments>-->
<!--            <argument name="providers" xsi:type="array">-->
<!--                <item name="configurable" xsi:type="object">Magento\ConfigurableProductGraphQl\Model\Resolver\Product\Price\Provider</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
</config>
